* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.main_body {
    background-color: rgb(233, 233, 232);
}

.restaurant_description {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95vw;
    height: 60vh;
    margin: 0 auto;
    padding: 6px;
}


.restaurant_detail {
    width: 50%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}

.greetingText {
    color: rgb(68, 134, 72);
}

.restaurant_detail h2,
.menu_section h2 {
    color: rgb(154, 78, 34);
}

.restaurantImage {
    width: 90%;
    height: 400px;
    border: 8px solid rgb(236, 212, 140);
}

.menu_section {
    text-align: center;
    margin-top: 60px;
}

.menuList {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 95vw;
    height: 50vh;
    margin: 20px auto;
    text-align: center;
    border: 3px dotted rgb(14, 109, 45);
}

.menuBox {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 220px;
    height: 350px;
    border-radius: 7px;
}

.menuDescription {
    margin-top: 20px;
}

.menuName {
    border: 1px solid green;
    padding: 4px;
    display: inline-block;
    border-radius: 4px;
    /* background-color: rgb(212, 209, 248); */
    max-width: 80px;
    border-radius: 5px;
}

.menuImage {
    width: 200px;
    height: 200px;
    border: 2px solid rgb(192, 162, 56);
    border-radius: 5px;
}

.menuImage:hover {
    transform: scale(1.1);

}


.itemSection {
    display: flex;
    justify-content: space-evenly;
    padding: 3px;
}

.itemName {
    border: 2px dotted rgb(56, 56, 56);
    margin: 5px;
    display: inline-block;
    padding: 5px;
    border-radius: 5px;
    min-width: 50px;
}


.itemName:hover {
    background-color: rgb(243, 214, 177);
    border: 2px solid rgb(203, 162, 39);
}